<table>
<tr>
<td class="container">
    <h3>Edit Employee</h3>
    <form [formGroup]="empForm" (ngSubmit)="onSubmit(empForm.value)">
        <Strong>Name</Strong><br>
        <input type="text" formControlName="name">
        <br><br>
        <Strong>Salary</Strong>
        <br>
        <input type="text" formControlName="salary">
        <br><br>
        <strong>Is Permanent or not</strong>
        <br>
        <input type="radio" [value]="true" formControlName="permanent" #permanentTrue>Yes
        <input type="radio" [value]="false" formControlName="permanent" #permanentTrue>No
        <br><br>
        <strong>Department</strong>
        <select formControlName="department">
            <option *ngFor="let item of departments" [ngValue]="item">{{item.name}}</option>
        </select>
        <br><br>
        <strong>Skills</strong>
        <div formArrayName="skill">
            <div *ngFor="let address of skill.controls; let i=index">
                <!-- The repeated alias template -->
                Skill:
                <input type="text" [formControlName]="i">
                <br><br>
            </div>
            <br>
            <button (click)="addSkills()">Add Skill</button>
        </div>
        <br><br>
        <button type="submit">Save</button>
    </form>
</td>
<td class="container">
    <strong>Employee Model</strong><br>
    <pre>{{emp | json }}</pre>
</td>
<td class="container">
    <strong>Angular Generated Form Model</strong><br>
    <pre>{{empForm.value | json}}</pre>
</td>
</tr>
</table>